/* ==========
   Hero
   ========== */

.home-hero-container {
  container: hero / inline-size;
  background: var(--color-text-primary);
  color: var(--color-text-secondary-dark);
}

.home-hero-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  gap: 2rem;
}

.home-hero-content .text-title {
  color: var(--color-text-primary-dark);
  font-size: calc(var(--font-size-base) * 5);
  font-weight: 600;
  line-height: 0.75;
  margin: 1rem 0 0.5rem;
}

.home-hero-content .text-title-sub {
  color: var(--color-text-secondary-dark);
  font-size: calc(var(--font-size-base) * 2);
  font-weight: 500;
  margin: 0 0 1.25rem;
}

.home-hero-content .text-desc {
  color: var(--color-text-secondary-dark);
  line-height: 1.5;
}

.home-hero-content .image-container {
  width: 100%;
  height: auto;
  min-height: 20rem;
  border-radius: 2rem 0;
  background: url("../../../assets/img_hero.jpg") no-repeat center 55%;
  background-size: cover;
}

@container hero (max-width: 640px) {
  .home-hero-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }

  .home-hero-content .image-container {
    min-height: 10rem;
  }
}

/* ==========
   Specials
   ========== */

.home-special-container {
  container: special / inline-size;
  background: var(--color-brand-ternary-bg);
}

.home-special-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 1.5rem;
}

.home-special-card {
  padding: 1rem;
  border-radius: 2rem 0;
  background: white;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: start;
  grid-auto-flow: row;
}

.home-special-card .image-content {
  width: 100%;
  border-radius: 1rem;
  border: 1px solid var(--color-brand-primary-bg);
}

.home-special-card .text-title {
  margin: 0.5rem 0 0.25rem;
}

.home-special-card .text-price {
  color: var(--color-brand-ternary);
  font-weight: bold;
  margin: 0 0 0.5rem;
}

.button-order {
  margin-top: 1rem;
  align-self: end;
}

@container special (max-width: 768px) {
  .home-special-cards {
    grid-template-columns: 1fr;
  }

  .home-special-card-figure {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
  }

  .button-order {
    justify-self: stretch;
  }
}

/* ==========
   Reviews
   ========== */

.home-review-container {
  container: review / inline-size;
}

.home-review-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.home-review-card {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  align-items: center;
  gap: 0.5rem;
  background: var(--color-brand-primary-bg);
  padding: 1rem;
  border-radius: 1rem;
}

.text-star {
  color: var(--color-brand-secondary);
  grid-column: 1 / -1;
}

.text-name {
  color: var(--color-text-primary);
}

.home-review-card .image-content {
  border-radius: 50%;
}

.home-review-card .text-desc {
  grid-column: 1 / -1;
}

@container review (max-width: 768px) {
  .home-review-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ==========
   About
   ========== */

.home-about-container {
  background-color: var(--color-brand-quaternary-bg);
}

.home-about-container .image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.home-about-container .image-content {
  width: 100%;
  border-radius: 1rem;
}
