.header-container {
  position: sticky;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
}

.header-content {
  max-width: var(--screen-width-xl);
  margin: 0 auto;
  padding: 0.75rem 1rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav-container {
  width: 100%;
}

.nav-items {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 0.25rem;
}

.nav-item {
  color: var(--color-brand-primary);
}

.nav-item:hover {
  background: var(--color-brand-primary-bg);
}

.nav-item.selected {
  font-weight: 700;
  background: var(--color-brand-primary-bg);
  pointer-events: none;
}

.button-link.selected:hover {
  text-decoration: none;
}
