.footer-container {
  container-type: inline-size;
  container-name: footer;
  background: var(--color-brand-primary-bg);
}

.footer-content {
  max-width: var(--screen-width-xl);
  margin: 0 auto;
  padding: 2rem 1rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  gap: 1rem;
}

.footer-content .contact-info {
  margin: 0 0 1rem;
}

.footer-content .text-lg {
  margin-bottom: 0.5rem;
}

.footer-content .text-sm {
  line-height: 1.5;
  transition: 0.3s ease color;
}

.footer-content .text-link:hover {
  color: var(--color-brand-primary);
  text-decoration: underline;
}

.footer-content .link-icon {
  color: var(--color-brand-primary);
  margin: 0 0.5rem 0 0;
}

.text-copywright {
  margin: 1rem 0 0;
  grid-column: 1 / -1;
}

@container footer (max-width: 600px) {
  .footer-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}
