.reservation-form {
  display: grid;
  justify-items: start;
  gap: 2rem;
}

.form-fieldset {
  width: 100%;
  display: grid;
  gap: 0.5rem;
}

.form-label {
  margin: 0.75rem 0 0;
}

.form-label-required {
  color: inherit;
  font-weight: 800;
  margin: 0 0 0 2px;
}

.time-filter-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  margin: 0 0 0.25rem;
}

.form-time-options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.form-time-option {
  padding: 0.25rem;
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
}

.active {
  pointer-events: none;
  text-decoration: none;
}

.form-occasion-options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.form-textarea {
  resize: vertical;
  min-height: 3lh;
  field-sizing: content;
}

.form-error-label {
  color: var(--color-text-error);
}

.form-error-input {
  border-color: var(--color-text-error);
}

.form-error-message {
  color: var(--color-text-error);
}
