/* ==========
   Normalize
   ========== */

body {
  margin: 0;
  font-family:
    "Karla",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 350px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

figure {
  margin: 0;
}

/* ==========
   Global
   ========== */

:root {
  --color-brand-primary: #495e57;
  --color-brand-primary-bg: #edefee;
  --color-brand-secondary: #f4ce14;
  --color-brand-ternary: #f0705f;
  --color-brand-ternary-bg: #fbdabb;
  --color-brand-quaternary-bg: #cfe7e3;
  --color-text-primary: #2a3333;
  --color-text-primary-dark: var(--color-brand-secondary);
  --color-text-secondary: #4a5050;
  --color-text-secondary-dark: var(--color-brand-primary-bg);

  --font-size-base: 1rem;

  --screen-width-xl: 1280px;
  --screen-width-lg: 1024px;
  --screen-width-md: 768px;
  --screen-width-sm: 640px;
}

.text-xs {
  color: var(--color-text-secondary);
  font-size: calc(var(--font-size-base) * 0.75);
}

.text-sm {
  color: var(--color-text-secondary);
  font-size: var(--font-size-base);
  line-height: 1.25;
}

.text-lg {
  color: var(--color-text-primary);
  font-size: calc(var(--font-size-base) * 1.25);
}

.text-xl {
  color: var(--color-text-primary);
  font-size: calc(var(--font-size-base) * 1.5);
}

.text-2xl {
  color: var(--color-text-primary);
  font-size: calc(var(--font-size-base) * 2);
}

.text-3xl {
  color: var(--color-text-primary);
  font-size: calc(var(--font-size-base) * 2.5);
}

.text-font-primary {
  font-family: "Markazi Text", serif;
}

.text-font-secondary {
  font-family: "Karla", sans-serif;
}

.text-bold {
  font-weight: 600;
}
